*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFD1F5;
    background-image: url(fondo.jpg);
}

.container{
    text-align: center;
    color: #ED0086;
    background-color: #FC91B1;
    width: 400px;
    margin: 100px auto;
}

.container img{
    width: 100%;
    height: 100%;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs input{
    width: 80px;
    height: 30px;
    background-color: rgb(7, 201, 201);
}